<ion-header>
  <ion-toolbar>
    <ion-title>
      Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" size-md="4" size-lg="3" *ngFor="let photo of photos; let i = index">
        <ion-card>
          <ion-img [src]="photo.image" alt="Photo"></ion-img>
          <ion-card-header>
            <ion-card-title>{{ photo.caption }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-button color="primary" (click)="updatePhoto(photo)">Update</ion-button>
            <ion-button color="danger" (click)="deletePhoto(i)">Delete</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
