<ion-header>
  <ion-toolbar>
    <ion-title>Edit Photo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- File input for photo selection -->
  <input type="file" accept="image/*" (change)="loadPhoto($event)" />

  <!-- Color selection buttons -->
  <ion-segment [(ngModel)]="selectedColor" color="secondary">
    <ion-segment-button value="black">
      <ion-label>Black</ion-label>
    </ion-segment-button>
    <ion-segment-button value="red">
      <ion-label>Red</ion-label>
    </ion-segment-button>
    <ion-segment-button value="blue">
      <ion-label>Blue</ion-label>
    </ion-segment-button>
    <ion-segment-button value="green">
      <ion-label>Green</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- Edit Photo button -->
  <ion-button expand="full" (click)="editPhoto()">Edit Photo</ion-button>

  <!-- Input for desired file name -->
  <ion-input [(ngModel)]="desiredFileName" placeholder="Enter desired file name" required></ion-input>

  <!-- Save Photo button -->
  <ion-button expand="full" (click)="savePhoto()">Save Photo</ion-button>

  <!-- Canvas for editing photos -->
  <div class="canvas-container">
  <canvas #canvas></canvas>
  </div>
</ion-content>
