<ion-header>
  <ion-toolbar>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center">
    <h2>About</h2>
    <p>Welcome to my dynamic gallery app! Explore a diverse collection of captivating images through a user-friendly interface. Whether you're an art enthusiast or seeking visual inspiration, our gallery app showcases creativity and beauty.</p>
  </div>

  <h2>Feedback</h2>
  <form #feedbackForm="ngForm" (ngSubmit)="submitFeedback()">
    <ion-item>
      <ion-label position="stacked">Your Name</ion-label>
      <ion-input [(ngModel)]="userName" name="userName" placeholder="Enter your name" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Feedback</ion-label>
      <ion-textarea 
        [(ngModel)]="userFeedback" 
        name="userFeedback" 
        placeholder="Share your thoughts"
        minlength="20" required></ion-textarea>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!feedbackForm.valid">Submit</ion-button>
  </form>

  <!-- Display section -->
  <div *ngIf="submitted" class="ion-text-center">
    <h3>Thank you, {{ userName }}!</h3>
    <p>We appreciate your feedback:</p>
    <p>{{ userFeedback }}</p>
  </div>
</ion-content>
